In [1]:
import time
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
# ----- SCRAPING THE DATA -----

def wait_for_page_to_load(driver, wait):
	title = driver.title
	try:
		wait.until(
			lambda d: d.execute_script("return document.readyState") == "complete"
		)
	except:
		print(f"The webpage \"{title}\" did not get fully laoded.\n")
	else:
		print(f"The webpage \"{title}\" did get fully laoded.\n")

In [3]:
# options
chrome_options = Options()
chrome_options.add_argument("--disable-http2")
chrome_options.add_argument("--incognito")
chrome_options.add_argument("--disable-blink-features=AutomationControlled")
chrome_options.add_argument("--ignore-certificate-errors")
chrome_options.add_argument("--enable-features=NetworkServiceInProcess")
chrome_options.add_argument("--disable-features=NetworkService")
chrome_options.add_argument(
    "user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36"
)

driver = webdriver.Chrome(options=chrome_options)
driver.maximize_window()

# explicit wait
wait = WebDriverWait(driver, 5)

# accessing the target webpage
url = "https://www.99acres.com/"
driver.get(url)

In [4]:
# identify and enter text into search bar
try:
	search_bar = wait.until(
		EC.presence_of_element_located((By.XPATH, '//*[@id="keyword2"]'))
	)
except:
	print("Timeout while locating Search Bar.\n")
else:
	search_bar.send_keys("Kolkata")
	time.sleep(5)
 
# selecting valid option from list
try:
	valid_option = wait.until(
		EC.element_to_be_clickable((By.XPATH, '//*[@id="0"]'))
	)
except:
	print("Timeout while locating valid search option.\n")
else:
	valid_option.click()
	time.sleep(2)

# click on Search button
try:
	search_button = wait.until(
		EC.element_to_be_clickable((By.XPATH, '//*[@id="searchform_search_btn"]'))
	)
except:
	print("Timeout while clicking on \"Search\" button.\n")
else:
	search_button.click()
	wait_for_page_to_load(driver, wait)

The webpage "Property in Kolkata - Real Estate in Kolkata" did get fully laoded.

In [5]:
import numpy as np
# adjust the Budget slider
try:
	slider = wait.until(
		EC.element_to_be_clickable((By.XPATH, '//*[@id="budgetLeftFilter_max_node"]'))
	)
except:
	print("Timeout while clicking on Budget slider circle.\n")
else:
	actions = ActionChains(driver)
	(
		actions
		.click_and_hold(slider)
		.move_by_offset(-73, 0)
		.release()
		.perform()
	)
	time.sleep(2)

# filter results to show genuine listings
# 1. Verified
verified = wait.until(
	EC.element_to_be_clickable((By.XPATH, '/html[1]/body[1]/div[1]/div[1]/div[1]/div[4]/div[3]/div[1]/div[3]/section[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[3]/span[2]'))
)
verified.click()
time.sleep(1)

# 2. Ready To Move
ready_to_move = wait.until(
	EC.element_to_be_clickable((By.XPATH, '/html[1]/body[1]/div[1]/div[1]/div[1]/div[4]/div[3]/div[1]/div[3]/section[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[3]/span[2]'))
)
ready_to_move.click()
time.sleep(1)


# moving to the right side to unhide remaining filters
while True:
	try:
		filter_right_button = wait.until(
			EC.presence_of_element_located((By.XPATH, "/html[1]/body[1]/div[1]/div[1]/div[1]/div[4]/div[3]/div[1]/div[3]/section[1]/div[1]/div[1]/div[1]/div[1]/div[2]/i[1]"))
		)
	except:
		print("Timeout because we have uncovered all filters.\n")
		break
	else:
		filter_right_button.click()
		time.sleep(1)
  

# 3. With Photos
with_photos = wait.until(
	EC.element_to_be_clickable((By.XPATH, '/html[1]/body[1]/div[1]/div[1]/div[1]/div[4]/div[3]/div[1]/div[3]/section[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[6]/span[2]'))
)
with_photos.click()
time.sleep(1)

# 4. With Videos
with_videos = wait.until(
	EC.element_to_be_clickable((By.XPATH, '/html[1]/body[1]/div[1]/div[1]/div[1]/div[4]/div[3]/div[1]/div[3]/section[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[7]/span[2]'))
)
with_videos.click()
time.sleep(4)

#navigate pages and extract data
data = []
page_count = 0
while True:
    page_count = page_count + 1
    try:
        next_page_button = driver.find_element(By.XPATH, "//a[normalize-space()='Next Page >']")
    except:
        print("Timeout beacuse we have navigated all the {page_count} pages. \n")
        break
    else:
        try:
           driver.execute_script("window.scrollBy(0, arguments[0].getBoundingClientRect().top - 100);", next_page_button)
           time.sleep(2)
           
           #Scrapping Data
           rows = driver.find_elements(By.CSS_SELECTOR, ".tupleNew__contentWrap, .PseudoTupleRevamp__contentWrapAb")
           
           for row in rows:
                        # property name
                        try:
                            name = row.find_element(By.CSS_SELECTOR, ".tupleNew__headingNrera, .PseudoTupleRevamp__headNrating").text
                        except:
                               name = np.nan
                        # property location
                        try:
                            location = row.find_element(By.CSS_SELECTOR, ".tupleNew__propType, .PseudoTupleRevamp__w400Ml4").text
                        except:
                               location = np.nan
                    
                        # property price
                        try:
                            price = row.find_element(By.CSS_SELECTOR, ".tupleNew__priceValWrap, .configs__ccl2").text
                        except:
                               price = np.nan
                        # for some cases bhk and area = tupleNew_area1Type and in some cases bhk's are = configs_ccl1
                        # property area and size
                        try:
    # Try to extract both area and BHK from tupleNew__area1Type (2 spans expected)
                            elements = row.find_elements(By.CSS_SELECTOR, ".tupleNew__area1Type")

                            if len(elements) >= 2:
                               area, bhk = [ele.text for ele in elements[:2]]
                            elif len(elements) == 1:
                               area = elements[0].text
        # Fallback: try to extract BHK from configs__ccl1
                            try:
                                bhk = row.find_element(By.CSS_SELECTOR, ".configs__ccl1").text
                            except:
                                  bhk = np.nan
                            else:
        # If neither tupleNew__area1Type found, fallback to configs__ccl1 only
                               area = np.nan
                               try:
                                   bhk = row.find_element(By.CSS_SELECTOR, ".configs__ccl1").text
                               except:
                                     bhk = np.nan

                        except:
    # If entire block fails (row broken or elements missing), fill both as NaN
                            area, bhk = [np.nan, np.nan]

                        
                        property = {
							"Name": name,
                            "Location": location,
                            "Price" : price,
                            "Area": area,
                            "BHK" : bhk
						}
                        data.append(property)
           
           
           wait.until(
			EC.element_to_be_clickable((By.XPATH, "//a[normalize-space()='Next Page >']"))
		   ).click()
           time.sleep(5)
        except:
              print("TimeOut on clicking on \"Next Page\".\n")
              break
 
 #Scrapping Data from the last page
rows = driver.find_elements(By.CSS_SELECTOR, ".tupleNew__contentWrap, .PseudoTupleRevamp__contentWrapAb")
           
for row in rows:
                        # property name
                        try:
                            name = row.find_element(By.CSS_SELECTOR, ".tupleNew__headingNrera, .PseudoTupleRevamp__headNrating").text
                        except:
                               name = np.nan
                        # property location
                        try:
                            location = row.find_element(By.CSS_SELECTOR, ".tupleNew__propType, .PseudoTupleRevamp__w400Ml4").text
                        except:
                               location = np.nan
                    
                        # property price
                        try:
                            price = row.find_element(By.CSS_SELECTOR, ".tupleNew__priceValWrap, .configs__ccl2").text
                        except:
                               price = np.nan
                        # for some cases bhk and area = tupleNew_area1Type and in some cases bhk's are = configs_ccl1
                        # property area and size
                        try:
    # Try to extract both area and BHK from tupleNew__area1Type (2 spans expected)
                            elements = row.find_elements(By.CSS_SELECTOR, ".tupleNew__area1Type")

                            if len(elements) >= 2:
                               area, bhk = [ele.text for ele in elements[:2]]
                            elif len(elements) == 1:
                               area = elements[0].text
        # Fallback: try to extract BHK from configs__ccl1
                            try:
                                bhk = row.find_element(By.CSS_SELECTOR, ".configs__ccl1").text
                            except:
                                  bhk = np.nan
                            else:
        # If neither tupleNew__area1Type found, fallback to configs__ccl1 only
                               area = np.nan
                               try:
                                   bhk = row.find_element(By.CSS_SELECTOR, ".configs__ccl1").text
                               except:
                                     bhk = np.nan

                        except:
    # If entire block fails (row broken or elements missing), fill both as NaN
                            area, bhk = [np.nan, np.nan]

                        
                        property = {
							"Name": name,
                            "Location": location,
                            "Price" : price,
                            "Area": area,
                            "BHK" : bhk
						}
                        data.append(property)

time.sleep(3)
driver.quit()

Timeout because we have uncovered all filters.

TimeOut on clicking on "Next Page".

In [6]:
#len(data)

In [7]:
#print(page_count)

In [ ]:
df_properties = (
    pd
    .DataFrame(data).drop_duplicates()
    .apply(lambda col: col.str.strip().str.lower() if col.dtype == "object" else col)
    .assign(
    is_starred=lambda df_: df_.name.str.contains("\n").astype(int),
    name=lambda df_: (
        df_
        .name
        .str.replace("\n[0-9.]+", "", regex=True)
        .str.strip()
    )
)


)

df_properties

,Name,Location,Price,Area,BHK
0,westroad canvas,"2 bhk flat in barasat, kolkata north",₹27.22 - 32.5 lac,726-867 sqft,NaN
1,om sky city,"2 bhk flat in serampore, hooghly",₹13.46 - 13.75 lac,550-562 sqft,NaN
2,merlin rise,"in rajarhat, kolkata",₹62 - 62.89 l,NaN,2 bhk apartment
3,f residences merlin,"in rajarhat, kolkata",₹1.23 - 1.74 cr,NaN,3 bhk apartment
4,orbit dakshini,"in bara nagar, kolkata",₹1.05 - 1.41 cr,NaN,3 bhk apartment
5,godrej blue,"in new alipore, kolkata",₹2.4 - 3.33 cr,NaN,3 bhk apartment
6,merlin niyasa,"in anandapur, em bypass",₹3.74 - 3.75 cr,NaN,3 bhk apartment
7,godrej prakriti\n4.2,"in sodepur, kolkata north",₹59 - 77.66 l,NaN,2 bhk apartment
8,siddha suburbia\n3.9,"in baruipur, kolkata south",₹47.74 - 88.2 l,NaN,2 bhk apartment
9,crown at aquaview,"in new town, kolkata",₹2 - 2.33 cr,NaN,3 bhk apartment
10,vindhya primrose,"in narendrapur, kolkata",₹38.5 l,NaN,2 bhk apartment
11,ora heights,"in tiljala, em bypass",₹1.32 - 2.26 cr,NaN,3 bhk apartment
12,merlin serenia,"in bt road, kolkata",₹76 l,NaN,2 bhk apartment
13,shriram grand city\n3.7,"in uttarpara, hooghly",₹19.03 - 21 l,NaN,1 bhk apartment
14,optima,"in rajarhat, kolkata",₹63.82 - 80.17 l,NaN,2 bhk apartment
15,purti tatsam,"in rajarhat, kolkata",₹1.08 - 1.23 cr,NaN,3 bhk apartment
16,cellesta,"in lake town, kolkata",₹1.44 - 1.57 cr,NaN,3 bhk apartment
17,deeshari palm villa,"in southern bypass, kolkata",₹64.63 - 75.9 l,NaN,3 bhk villa
18,kamalika,"in chandannagar, hooghly",₹26 - 34.83 l,NaN,2 bhk apartment
19,srijan spacia,"in madhyamgram, kolkata",₹74.02 - 94.93 l,NaN,3 bhk apartment
20,merlin skygaze,"in southern bypass, kolkata",₹58 - 66.47 l,NaN,2 bhk apartment
21,merlin avana,"in tollygunge, kolkata",₹60.61 - 72.52 l,NaN,2 bhk apartment
22,ganguly 4sight superia,"in narendrapur, kolkata",₹65 - 69.5 l,NaN,2 bhk apartment
23,swapnabhumi township,"in new town, kolkata",₹65 l,NaN,3 bhk villa
24,gokul vista,"in nager bazar, jessore road",₹74.73 - 79.22 l,NaN,2 bhk apartment
25,siddha serena,"in new town, kolkata",price on request,NaN,1 bhk apartment
26,quintessa,"in kankurgachi, kolkata",₹3.76 - 5.12 cr,NaN,4 bhk apartment
27,ust heights,"in diamond harbour road, kolkata south",₹98.77 l - 1.02 cr,NaN,3 bhk apartment
28,urban lakes phase 2,"in konnagar, hooghly",price on request,NaN,2 bhk apartment
29,chitrakut heights phase 2,"in new town, kolkata",₹56 - 57.17 l,NaN,2 bhk apartment
30,dtc sojon,"in joka, kolkata south",₹55 - 59.5 l,NaN,2 bhk apartment
31,merlin isle,"in picnic garden, em bypass",₹89 l,NaN,2 bhk apartment
32,dtc palm grove,"in joka, kolkata south",₹1.21 - 1.3 cr,NaN,3 bhk villa
33,ps sansara,"in golabari, bandhaghat, howrah",₹3.18 - 3.26 cr,NaN,3 bhk apartment
34,vinayak amara,"in new town, kolkata",₹1.69 - 1.91 cr,NaN,3 bhk apartment
35,dtc good earth,"in madhyamgram, kolkata",₹41.72 - 42.23 l,NaN,2 bhk apartment
36,morya phase 2,"in tollygunge, kolkata",₹1.64 cr,NaN,3 bhk apartment
37,natural city madhyamgram,"in madhyamgram, kolkata",₹44.9 - 46.2 l,NaN,2 bhk apartment
38,urban vista,"in rajarhat, kolkata",₹54 - 73.37 l,NaN,2 bhk apartment
39,srijan town square,"in new town, kolkata",₹2.48 - 3.63 cr,NaN,3 bhk apartment
40,shriram sunshine 2,"in uttarpara, hooghly",₹30.26 l,NaN,2 bhk apartment
41,the avalon heights,"in garia, kolkata",₹77 l,NaN,2 bhk apartment
42,shriram symphony,"in uttarpara, hooghly",₹31.54 l,NaN,2 bhk apartment
43,rishi ventoso phase 2,"in madhyamgram, kolkata",₹48.81 - 59.93 l,NaN,2 bhk apartment
44,shree miraya,"in new town, kolkata",₹94 l - 1.35 cr,NaN,3 bhk apartment
45,vayu,"in kaikhali, vip road",₹79.1 - 82.87 l,NaN,2 bhk apartment
46,kappa gamma,"in new town, kolkata",₹58.38 - 81.34 l,NaN,2 bhk apartment
47,ps navyom,"in new alipore, kolkata",₹4.88 - 6.45 cr,NaN,4 bhk apartment
48,rohra galaxy,"in new town, kolkata",₹47.85 - 61.94 l,NaN,2 bhk apartment
49,amantran,"in joka, kolkata south",₹1.31 - 1.41 cr,NaN,4 bhk villa
50,airport sky city,"in belgharia expressway, kolkata",₹58 - 71.12 l,NaN,2 bhk apartment
51,dtc capital city,"in rajarhat, kolkata",₹49.32 - 51 l,NaN,2 bhk apartment

In [15]:
df_properties.Name.unique()

array(['westroad canvas', 'om sky city', 'merlin rise',
       'f residences merlin', 'orbit dakshini', 'godrej blue',
       'merlin niyasa', 'godrej prakriti\n4.2', 'siddha suburbia\n3.9',
       'crown at aquaview', 'vindhya primrose', 'ora heights',
       'merlin serenia', 'shriram grand city\n3.7', 'optima',
       'purti tatsam', 'cellesta', 'deeshari palm villa', 'kamalika',
       'srijan spacia', 'merlin skygaze', 'merlin avana',
       'ganguly 4sight superia', 'swapnabhumi township', 'gokul vista',
       'siddha serena', 'quintessa', 'ust heights', 'urban lakes phase 2',
       'chitrakut heights phase 2', 'dtc sojon', 'merlin isle',
       'dtc palm grove', 'ps sansara', 'vinayak amara', 'dtc good earth',
       'morya phase 2', 'natural city madhyamgram', 'urban vista',
       'srijan town square', 'shriram sunshine 2', 'the avalon heights',
       'shriram symphony', 'rishi ventoso phase 2', 'shree miraya',
       'vayu', 'kappa gamma', 'ps navyom', 'rohra galaxy', 'amantran',
       'airport sky city', 'dtc capital city'], dtype=object)

In [ ]:
# to view which properties have \n in there name 
df_properties.loc[lambda df_: df_.Name.str.contains("\n")].Name.unique()

array(['godrej prakriti\n4.2', 'siddha suburbia\n3.9',
       'shriram grand city\n3.7'], dtype=object)